@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

body, p {
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Raleway', sans-serif;
    background-color: #3a3a3a;
}
a {
    text-decoration: none;
}